.progress-indicator {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--ion-color-medium);
}

.instruction {
  text-align: center;
  color: var(--ion-color-medium);
  font-style: italic;
  margin-top: 20px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.navigation-buttons ion-button {
  width: 45%;
}

